# Ignore local class materials
class_materials/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env

# Ignore homework data files
homework/homework01/loan_default_risk/data/raw/
homework/homework01/loan_default_risk/data/processed/
homework/homework03/data/raw/

# Ignore OS files
.DS_Store
